<div class="list-group">
    <a href="~/Admin" class="list-group-item list-group-item-action">
        Stat
    </a>
    <a href="~/Admin/PhoneManage" class="list-group-item list-group-item-action ">
        Phone Management
    </a>
    <a href="~/Admin/UserManage" class="list-group-item list-group-item-action">
        User Management
    </a>
    <a href="~/Admin/OrderManage" class="list-group-item list-group-item-action">
        Order Management
    </a>
</div>
